.product{
    display: flex;
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-bottom: 5px
  
    ;
}
.product-name{
    color: blue;
    font-weight: 400;
margin-left: 5px;
}
.main-button{
background-color: rgba(81, 198, 228, 0.137);
border-radius: 10px;
width: 150px;
height: 30px;
border: none;
box-shadow: 1px 1px 1px 1px rgb(109, 109, 96);

}
.main-button:hover{
    background-color: rgb(241, 182, 182);
    border-radius: 20px;
    cursor: pointer;
    border: none;
}
.main-button:focus{
    color: white ;
    background-color: rgb(175, 216, 62);
    border: none;

}